/*=============================
// # Input
=============================*/

#search_form {
    .input-alert {
        position: absolute;
        bottom: 60%;
        left: 0;
        padding: 0.3rem 0.5rem !important;
        font-size: 0.7rem;
    }
}